@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: theme("fontFamily.sans");
  }

  body {
    @apply bg-brand-mist text-brand-charcoal;
  }
}


